@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma ;
}
@media screen and (min-width: 680px){
    #corpo-tela-1e2{
        display: flex;
        box-shadow: 0px 0px 5px black;
        border-radius: 25px;
    }
    main{
        height: 100vh;
        max-width: 640px;
        margin: auto;
        display: flex;
        align-items: center;
        
        
    }
    div#tela-1{
        border-radius: 20px;
        max-width: 320px;
    }
    div#tela-2{
        max-width: 400px;
    }
}

#tela-1{

    margin: auto;
    background-image: linear-gradient(to bottom, #6542F9, #2E26E8);
    width: 100%;
    min-width: 320px;
    height: 400px;
    border-radius: 0px 0px 25px 25px;
}
.texto-medio{
    text-shadow: 0px 0px 2px rgb(3, 3, 128);
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    font-size: 1.5em;
    padding: 25px 0px;
    font-weight: bold;
    
}
.texto-pequeno{
    color: rgba(255, 255, 255, 0.685);
    margin: auto;
    text-align: center;
    width: 250px;
    font-size: .7em;
    line-height: 1.5em;
}
.texto-grande{
    font-size: 2.2em;
    color: white;
    text-shadow: 0px 0px 3px rgb(0, 0, 53);
}
#circulo{
    box-shadow: 0px 0px 15px rgba(25, 0, 255, 0.151);
    background-image: linear-gradient(to top, #6542F9, #2E26E8);
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#tela-2{
    margin: auto;
    background-color: white;
    width: 100%;
    min-width: 320px;
    height: 400px;
    border-radius: 25px;
}

#letra-sumario{
    font-size: 1.5em;
    padding: 20px;
    font-weight: normal;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    display: flex;
}
#vermelho.container{
    width: 300px;
    background-color: rgba(255, 0, 0, 0.13);
    margin: 10px auto;
    border-radius: 10px;    
    color: rgb(156, 0, 0);
}


#amarelo.container{
    width: 300px;
    background-color: rgba(255, 255, 0, 0.13);
    margin: 10px auto;
    border-radius: 10px;
    color: rgb(255, 178, 30);
}

#verde.container{
    width: 300px;
    background-color: rgba(0, 128, 0, 0.13);
    margin: 10px auto;
    border-radius: 10px;
    color: green;
}

#azul.container{
    width: 300px;
    background-color: rgba(0, 0, 255, 0.13);
    margin: 10px auto;
    border-radius: 10px;
    color: blue;
}

.alinhamento-baseline{
    width: 300px;
    padding-top: 10px;
    background-color: white;
}
button{
    color: white;
    background-color: #2E26E8;
    border: 1px solid #2E26E8;
    display: block;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    
}
button:hover{
    background-color: #6542F9;
}